<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Produto</title>
</head>
<body>
    <h1>Bem-vindo à nossa aplicação!</h1>
<p>Esta é a página inicial do nosso aplicativo. Explore nossos recursos e aproveite!</p>
<button><a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a></button>
<button><a href="{% url 'listar_ptodutos' %}">Listar Produtos</a></button><br/>



<h2>Nossa Empresa</h2>
<p>Somos uma empresa comprometida em fornecer produtos de alta qualidade aos nossos clientes.</p>
<form action="{% url 'buscar_produtos' %}" method="GET">
    <input type="text" name="query" placeholder="Buscar Produtos">
    <button type="submit">Buscar</button>
</form>

</body>
</html>
